*{
    padding: 0;
    margin: 0;
}

/*Grosor de para las letras del texto; normal o negrilla (bold)*/
h1{
    font: bold 30px verdana, sans-serif;
}
/*Grosor de letra, tipo de letra */
h2{
    font: bold 18px verdana, sans-serif;
}

h3, h4{
    font: bold 15px verdana, sans-serif;
}


header, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;
}

body{
    text-align: center;
    background-image: url(../assets/patron.png);
}

/*Caja principal*/
.agrupar{
    width: 960px;
    margin: 15px auto;
    text-align: left;
    border: 1px solid #000;
}

.cabecera{
    background: #000000;
    border: 1px solid #000;
    padding: 20px;
    color: white;
}

.menu{
    text-align: left;
    background: #9c959c;
    padding: 5px 15px;
}

.menu ul a{
    /*Colocar horizontal el menu*/
    text-decoration: none;
    display: inline;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}
/*Definir botones en la lista de nav*/
.menu ul a:hover{
    /*color de fondo*/
    background-color: rgb(148, 142, 230);
    /*Color de letras del nav*/
    color: rgb(249, 249, 250);
    /*Manito sobre la lista de nav*/
    cursor: pointer;
    /*Borde inferior de cada entrada*/
    border-bottom: 2px solid rgb(148, 12, 102);
}

/*Ajustes a la caja de section*/
.seccion{
    float: left;
    width: 660px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.767);
}
/**Belleza de section (letras)*/
.seccion{
    margin left: 20px;;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height:15px;
    text-align: left;
}

.seccion p{
    font-size: 14px;
}


.columna{
    /*Ajuste de caja aside*/
    float: left;
    width: 200px;
    margin: 20px 0px;
    padding: 20px;
    background: rgba(182, 45, 141, 0.383);

    /*Belleza letras*/
    font-family: tahoma;
    color: rgb(84, 85, 104);
}

.pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #000;
    background: rgba(241, 73, 12, 0.226);
}

article{
    background: #ad02c421;
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 15px;
}

article footer{
    text-align: right;
}

time{
    color: rgb(78, 4, 4);
}


/*Belleza de los botones del contenido o cuerpo de página*/
#slideshow button{
    /*Color de fondo del radio o circulo*/
    background-color: #000000;
    /*Color de letras del radio o circulo*/
    color: white;
    /*Ancho del radio o circulo*/
    width: 50px;
    /*Alto del radio o circulo*/
    height: 50px;
    /*Borde del radio o circulo*/
    border: 1px solid aquamarine;
    /*Colocar el botón en forma de radio o circulo*/
    border-radius: 50%;
    /*Manito sobre el cursor del botón*/
    cursor: pointer;
    position: absolute;
    top: 100px;
}

#slideshow button:hover{
    /*Para cambiar color con el cursor*/
    background-color: hotpink;
    /*Color de letras al colocar cursor*/
    color: black;
}

button.prev{
    left: -25px;
}

button.next{
    right: -25px;
}